<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login - FOX OF HOOD</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/loginstyle.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('admin') }}">Admin</a>
        </nav>
    </header>
    <main class="login-container">
    <h2>Forgot Password</h2>
    <form action="{{ url_for('forgot_password') }}" method="post">
        <div><label for="email">Enter your Email:</label></div>
        <div> <input type="text" id="email" name="email" required></div>
        <div><button type="submit">Send Recovery Email</button></div>
    </form></main>
</body>
</html>
